In [1]:
#movie Recommendation System in Required liberary in project

In [2]:
import numpy as np
import pandas as pd

In [3]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [4]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [7]:
credits.head(2)['cast'].values

array(['[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]',
       '[{"cast_id": 4, "character": "Captain Jack Sparrow", "credit_id": "52fe4232c3a36847f800b50d", "gender": 2, "id": 85, "name": "Johnny Depp", "order": 0}, {"cast_id": 5, "character": "Will Turner", "credit_id": "52fe4232c3a36847f800b511", "gender": 2, "id": 114, "name": "Orlando Bloom", "order": 1}, {"cast_id": 6, "character": "Elizabeth Swann", "credit_id": "52fe4232c3a36847f800b515", "gender": 1, "id": 116, "name": "Keira Knightley", "order": 2}, {"cast_id": 12, "character": "William \\"Bootstrap Bill\\" Turner", "credit_id": "52fe4232c3a36847f800b52d", "gender": 2, "id": 1640, "name": "Stellan Skarsg\\u00e5rd", "order": 3}, {"cast_id": 10, "character": "Captain Sao Feng", "credit_id": "52fe4232c3a36847f800b525", "gender": 2, "id": 1619, "name": "Chow Yun-fat", "order": 4}, {"cast_id": 9, "character": "Captain Davy Jones", "credit_id": "52fe4232c3a36847f800b521", "gender": 2, "id": 2440, "name": "Bill Nighy", "order": 5}, {"cast_id": 7, "character": "Captain Hector Barbossa", "credit_id": "52fe4232c3a36847f800b519", "gender": 2, "id": 118, "name": "Geoffrey Rush", "order": 6}, {"cast_id": 14, "character": "Admiral James Norrington", "credit_id": "52fe4232c3a36847f800b535", "gender": 2, "id": 1709, "name": "Jack Davenport", "order": 7}, {"cast_id": 13, "character": "Joshamee Gibbs", "credit_id": "52fe4232c3a36847f800b531", "gender": 2, "id": 2449, "name": "Kevin McNally", "order": 8}, {"cast_id": 11, "character": "Lord Cutler Beckett", "credit_id": "52fe4232c3a36847f800b529", "gender": 2, "id": 2441, "name": "Tom Hollander", "order": 9}, {"cast_id": 19, "character": "Tia Dalma", "credit_id": "52fe4232c3a36847f800b549", "gender": 1, "id": 2038, "name": "Naomie Harris", "order": 10}, {"cast_id": 8, "character": "Governor Weatherby Swann", "credit_id": "52fe4232c3a36847f800b51d", "gender": 2, "id": 378, "name": "Jonathan Pryce", "order": 11}, {"cast_id": 37, "character": "Captain Teague Sparrow", "credit_id": "52fe4232c3a36847f800b5b3", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 12}, {"cast_id": 16, "character": "Pintel", "credit_id": "52fe4232c3a36847f800b53d", "gender": 2, "id": 1710, "name": "Lee Arenberg", "order": 13}, {"cast_id": 15, "character": "Ragetti", "credit_id": "52fe4232c3a36847f800b539", "gender": 2, "id": 1711, "name": "Mackenzie Crook", "order": 14}, {"cast_id": 18, "character": "Lieutenant Theodore Groves", "credit_id": "52fe4232c3a36847f800b545", "gender": 2, "id": 4031, "name": "Greg Ellis", "order": 15}, {"cast_id": 55, "character": "Cotton", "credit_id": "57e28d2ec3a3681a01005b5c", "gender": 2, "id": 1715, "name": "David Bailie", "order": 16}, {"cast_id": 17, "character": "Marty", "credit_id": "52fe4232c3a36847f800b541", "gender": 2, "id": 4030, "name": "Martin Klebba", "order": 17}, {"cast_id": 57, "character": "Ian Mercer", "credit_id": "57e28d78c3a36808b900bf4f", "gender": 0, "id": 939, "name": "David Schofield", "order": 18}, {"cast_id": 62, "character": "Scarlett", "credit_id": "57e28ec5c3a3681a50005855", "gender": 1, "id": 2450, "name": "Lauren Maher", "order": 19}, {"cast_id": 63, "character": "Giselle", "credit_id": "57e28ed692514123f5005635", "gender": 1, "id": 2452, "name": "Vanessa Branch", "order": 20}, {"cast_id": 60, "character": "Mullroy", "credit_id": "57e28db2c3a3681a01005bc7", "gender": 2, "id": 1714, "name": "Angus Barnett", "order": 21}, {"cast_id": 59, "character": "Murtogg", "credit_id": "57e28da192514118f7006008", "gender": 0, "id": 1713, "name": "Giles New", "order": 22}, {"cast_id": 58, "character": "Tai Huang", "credit_id": "57e28d8ec3a3681a01005bab", "gender": 2, "id": 22075, "name": "Reggie Lee", "order": 23}, {"cast_id": 64, "character": "Henry Turner", "credit_id": "57e29119925141151100a6cc", "gender": 2, "id": 61259, "name": "Dominic Scott Kay", "order": 24}, {"cast_id": 39, "character": "Mistress Ching", "credit_id": "52fe4232c3a36847f800b5bd", "gender": 1, "id": 33500, "name": "Takayo Fischer", "order": 25}, {"cast_id": 40, "character": "Lieutenant Greitzer", "credit_id": "52fe4232c3a36847f800b5c1", "gender": 2, "id": 1224149, "name": "David Meunier", "order": 26}, {"cast_id": 49, "character": "Hadras", "credit_id": "56d1871c92514174680010cf", "gender": 2, "id": 429401, "name": "Ho-Kwan Tse", "order": 27}, {"cast_id": 56, "character": "Clacker", "credit_id": "57e28d4b92514125710055cb", "gender": 0, "id": 1123, "name": "Andy Beckwith", "order": 28}, {"cast_id": 51, "character": "Penrod", "credit_id": "56ec8c14c3a3682260003c53", "gender": 2, "id": 1056117, "name": "Peter Donald Badalamenti II", "order": 29}, {"cast_id": 61, "character": "Cotton\'s Parrot (voice)", "credit_id": "57e28dcc9251412463005678", "gender": 2, "id": 21700, "name": "Christopher S. Capp", "order": 30}, {"cast_id": 65, "character": "Captain Teague", "credit_id": "58bc2a37c3a368663003740b", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 31}, {"cast_id": 66, "character": "Captain Jocard", "credit_id": "58bc2a8e925141609e03a179", "gender": 2, "id": 2603, "name": "Hakeem Kae-Kazim", "order": 32}, {"cast_id": 67, "character": "Captain Ammand", "credit_id": "58e2a21ac3a36872af00f9c2", "gender": 0, "id": 70577, "name": "Ghassan Massoud", "order": 33}]'],
      dtype=object)

In [8]:
movies.merge(credits,on='title').head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
movies = movies.merge(credits,on='title')

In [10]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [11]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
budget                  4809 non-null int64
genres                  4809 non-null object
homepage                1713 non-null object
id                      4809 non-null int64
keywords                4809 non-null object
original_language       4809 non-null object
original_title          4809 non-null object
overview                4806 non-null object
popularity              4809 non-null float64
production_companies    4809 non-null object
production_countries    4809 non-null object
release_date            4808 non-null object
revenue                 4809 non-null int64
runtime                 4807 non-null float64
spoken_languages        4809 non-null object
status                  4809 non-null object
tagline                 3965 non-null object
title                   4809 non-null object
vote_average            4809 non-null float64
vote_count              4809 non-null int64
movie_id                4809 non-null int64
cast                    4809 non-null object
crew                    4809 non-null object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [12]:
#Data preprocessing system
#genres
#id
#keywords
#title
#overview
#cast
#crew

In [13]:
movies[['movie_id','title','genres','overview','keywords','cast','crew']]

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",El Mariachi just wants to play his guitar and ...,"[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",A newlywed couple's honeymoon is upended by th...,[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,[],When ambitious New York attorney Sam is sent t...,[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,"[{""id"": 99, ""name"": ""Documentary""}]",Ever since the second grade when he first saw ...,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [14]:
movies = movies[['movie_id','title','genres','overview','keywords','cast','crew']]

In [15]:
movies.head(1)

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [16]:
movies.isnull().head(2)

   movie_id  title  genres  overview  keywords   cast   crew
0     False  False   False     False     False  False  False
1     False  False   False     False     False  False  False

In [17]:
movies.isnull().sum()

movie_id    0
title       0
genres      0
overview    3
keywords    0
cast        0
crew        0
dtype: int64

In [18]:
movies.dropna(inplace=True)

In [19]:
movies.isnull().sum()

movie_id    0
title       0
genres      0
overview    0
keywords    0
cast        0
crew        0
dtype: int64

In [20]:
movies.duplicated().sum()

0

In [21]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [22]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [23]:
'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
        return L

In [24]:
movies['genres'].apply(convert)

0            [Action]
1         [Adventure]
2            [Action]
3            [Action]
4            [Action]
            ...
4804         [Action]
4805         [Comedy]
4806         [Comedy]
4807             None
4808    [Documentary]
Name: genres, Length: 4806, dtype: object

In [25]:
movies['genres'] = movies['genres'].apply(convert)

In [26]:
movies.head(1)

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,[Action],"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [27]:
movies['keywords'].apply(convert)

0                      [culture clash]
1                              [ocean]
2                                [spy]
3                          [dc comics]
4                     [based on novel]
                     ...
4804    [united statesâ€“mexico barrier]
4805                              None
4806                            [date]
4807                              None
4808                       [obsession]
Name: keywords, Length: 4806, dtype: object

In [28]:
movies['keywords'] = movies['keywords'].apply(convert)

In [29]:
movies.head(1)

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,[Action],"In the 22nd century, a paraplegic Marine is di...",[culture clash],"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [30]:
def convert3(obj):
    L=[]
    counter = 0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter++1
        else:
            break
    return L

In [31]:
movies['cast'].apply(convert3)

0       [Sam Worthington, Zoe Saldana, Sigourney Weave...
1       [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2       [Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...
3       [Christian Bale, Michael Caine, Gary Oldman, A...
4       [Taylor Kitsch, Lynn Collins, Samantha Morton,...
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805    [Edward Burns, Kerry BishÃ©, Marsha Dietlein, C...
4806    [Eric Mabius, Kristin Booth, Crystal Lowe, Geo...
4807    [Daniel Henney, Eliza Coupe, Bill Paxton, Alan...
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldm...
Name: cast, Length: 4806, dtype: object

In [32]:
movies['cast'] = movies['cast'].apply(convert3)

In [33]:
movies.head(2)

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,[Action],"In the 22nd century, a paraplegic Marine is di...",[culture clash],"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,[Adventure],"Captain Barbossa, long believed to be dead, ha...",[ocean],"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [34]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [35]:
movies['crew'].apply(fetch_director)

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4806, dtype: object

In [36]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [37]:
movies.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,[Action],"In the 22nd century, a paraplegic Marine is di...",[culture clash],"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,[Adventure],"Captain Barbossa, long believed to be dead, ha...",[ocean],"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,[Action],A cryptic message from Bondâ€™s past sends him o...,[spy],"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,[Action],Following the death of District Attorney Harve...,[dc comics],"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,[Action],"John Carter is a war-weary, former military ca...",[based on novel],"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [38]:
movies['overview']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bondâ€™s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: overview, Length: 4806, dtype: object

In [39]:
movies['overview'].apply(lambda x:x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bondâ€™s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [40]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [41]:
movies.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,[Action],"[In, the, 22nd, century,, a, paraplegic, Marin...",[culture clash],"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,[Adventure],"[Captain, Barbossa,, long, believed, to, be, d...",[ocean],"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,[Action],"[A, cryptic, message, from, Bondâ€™s, past, send...",[spy],"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,[Action],"[Following, the, death, of, District, Attorney...",[dc comics],"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,[Action],"[John, Carter, is, a, war-weary,, former, mili...",[based on novel],"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [42]:
movies['genres'].apply(lambda x:[i.replace(" ","") for i in x]if x is not None else [])

0            [Action]
1         [Adventure]
2            [Action]
3            [Action]
4            [Action]
            ...
4804         [Action]
4805         [Comedy]
4806         [Comedy]
4807               []
4808    [Documentary]
Name: genres, Length: 4806, dtype: object

In [43]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","")for i in x]if x is not None else [])

In [44]:
movies.head(1)

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,[Action],"[In, the, 22nd, century,, a, paraplegic, Marin...",[culture clash],"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

In [45]:
movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x]if x is not None else [])

0                     [cultureclash]
1                            [ocean]
2                              [spy]
3                         [dccomics]
4                     [basedonnovel]
                    ...
4804    [unitedstatesâ€“mexicobarrier]
4805                              []
4806                          [date]
4807                              []
4808                     [obsession]
Name: keywords, Length: 4806, dtype: object

In [46]:
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x]if x is not None else [])

In [47]:
movies.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,[Action],"[In, the, 22nd, century,, a, paraplegic, Marin...",[cultureclash],"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,[Adventure],"[Captain, Barbossa,, long, believed, to, be, d...",[ocean],"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,[Action],"[A, cryptic, message, from, Bondâ€™s, past, send...",[spy],"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,[Action],"[Following, the, death, of, District, Attorney...",[dccomics],"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,[Action],"[John, Carter, is, a, war-weary,, former, mili...",[basedonnovel],"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [48]:
movies['cast'].apply(lambda x:[i.replace(" ","") for i in x]if x is not None else [])

0       [SamWorthington, ZoeSaldana, SigourneyWeaver, ...
1       [JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...
2       [DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...
3       [ChristianBale, MichaelCaine, GaryOldman, Anne...
4       [TaylorKitsch, LynnCollins, SamanthaMorton, Wi...
                              ...
4804    [CarlosGallardo, JaimedeHoyos, PeterMarquardt,...
4805    [EdwardBurns, KerryBishÃ©, MarshaDietlein, Cait...
4806    [EricMabius, KristinBooth, CrystalLowe, GeoffG...
4807    [DanielHenney, ElizaCoupe, BillPaxton, AlanRuc...
4808    [DrewBarrymore, BrianHerzlinger, CoreyFeldman,...
Name: cast, Length: 4806, dtype: object

In [49]:
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x]if x is not None else [])

In [50]:
movies.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,[Action],"[In, the, 22nd, century,, a, paraplegic, Marin...",[cultureclash],"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,[Adventure],"[Captain, Barbossa,, long, believed, to, be, d...",[ocean],"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[Gore Verbinski]
2,206647,Spectre,[Action],"[A, cryptic, message, from, Bondâ€™s, past, send...",[spy],"[DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...",[Sam Mendes]
3,49026,The Dark Knight Rises,[Action],"[Following, the, death, of, District, Attorney...",[dccomics],"[ChristianBale, MichaelCaine, GaryOldman, Anne...",[Christopher Nolan]
4,49529,John Carter,[Action],"[John, Carter, is, a, war-weary,, former, mili...",[basedonnovel],"[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[Andrew Stanton]

In [51]:
movies['crew'].apply(lambda x:[i.replace(" ","") for i in x]if x is not None else [])

0           [JamesCameron]
1          [GoreVerbinski]
2              [SamMendes]
3       [ChristopherNolan]
4          [AndrewStanton]
               ...
4804     [RobertRodriguez]
4805         [EdwardBurns]
4806          [ScottSmith]
4807          [DanielHsia]
4808     [BrianHerzlinger]
Name: crew, Length: 4806, dtype: object

In [52]:
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x]if x is not None else [])

In [53]:
movies.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,[Action],"[In, the, 22nd, century,, a, paraplegic, Marin...",[cultureclash],"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,[Adventure],"[Captain, Barbossa,, long, believed, to, be, d...",[ocean],"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,[Action],"[A, cryptic, message, from, Bondâ€™s, past, send...",[spy],"[DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,[Action],"[Following, the, death, of, District, Attorney...",[dccomics],"[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,[Action],"[John, Carter, is, a, war-weary,, former, mili...",[basedonnovel],"[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [54]:
movies['tags'] = movies['overview'] + movies['keywords'] + movies['cast'] + movies['crew']

In [55]:
movies.head()

,movie_id,title,genres,overview,keywords,cast,crew,tags
0,19995,Avatar,[Action],"[In, the, 22nd, century,, a, paraplegic, Marin...",[cultureclash],"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,[Adventure],"[Captain, Barbossa,, long, believed, to, be, d...",[ocean],"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,[Action],"[A, cryptic, message, from, Bondâ€™s, past, send...",[spy],"[DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...",[SamMendes],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,[Action],"[Following, the, death, of, District, Attorney...",[dccomics],"[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,[Action],"[John, Carter, is, a, war-weary,, former, mili...",[basedonnovel],"[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [56]:
new_df = movies[['movie_id','title','tags']]

In [57]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [58]:
new_df['tags'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'cultureclash',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'StephenLang',
 'MichelleRodriguez',
 'GiovanniRibisi',
 'JoelDavidMoore',
 'CCHPounder',
 'WesStudi',
 'LazAlonso',
 'DileepRao',
 'MattGerald',
 'SeanAnthonyMoran',
 'JasonWhyte',
 'ScottLawrence',
 'KellyKilgour',
 'JamesPatrickPitt',
 'SeanPatrickMurphy',
 'PeterDillon',
 'KevinDorman',
 'KelsonHenderson',
 'DavidVanHorn',
 'JacobTomuri',
 'MichaelBlain-Rozgay',
 'JonCurry',
 'LukeHawker',
 'WoodySchultz',
 'PeterMensah',
 'SoniaYee',
 'JahnelCurfman',
 'IlramChoi',
 'KylaWarren',
 'LisaRoumain',
 'DebraWilson',
 'ChrisMala',
 'TaylorKibby',
 'JodieLandau',
 'JulieLamm',
 'CullenB.Madden',
 'JosephBradyMadden',
 'FrankieTorres',
 'AustinWilson',
 'SaraWilson',
 'TamicaWashington-Miller',
 'LucyBriant',
 'NathanMeister',
 'GerryBlair',
 'MatthewChamberlain',
 'PaulYates',
 'WrayWilson',
 'JamesGaylyn',
 'MelvinLenoClarkIII',
 'CarvonFutrell',
 'BrandonJelkes',
 'MicahMoch',
 'HanniyahMuhammad',
 'ChristopherNolen',
 'ChristaOliver',
 'AprilMarieThomas',
 'BravitaA.Threatt',
 'ColinBleasdale',
 'MikeBodnar',
 'MattClayton',
 'NicoleDionne',
 'JamieHarrison',
 'AllanHenry',
 'AnthonyIngruber',
 'AshleyJeffery',
 'DeanKnowsley',
 'JosephMika-Hunt',
 'TerryNotary',
 'KaiPantano',
 'LoganPithyou',
 'StuartPollock',
 'Raja',
 'GarethRuck',
 'RhianSheehan',
 'T.J.Storm',
 'JodieTaylor',
 'AliciaVela-Bailey',
 'RichardWhiteside',
 'NikieZambo',
 'JuleneRenee',
 'JamesCameron']

In [59]:
new_df['tags'].apply(lambda x: " ".join(x))

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bondâ€™s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [60]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [61]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [62]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez GiovanniRibisi JoelDavidMoore CCHPounder WesStudi LazAlonso DileepRao MattGerald SeanAnthonyMoran JasonWhyte ScottLawrence KellyKilgour JamesPatrickPitt SeanPatrickMurphy PeterDillon KevinDorman KelsonHenderson DavidVanHorn JacobTomuri MichaelBlain-Rozgay JonCurry LukeHawker WoodySchultz PeterMensah SoniaYee JahnelCurfman IlramChoi KylaWarren LisaRoumain DebraWilson ChrisMala TaylorKibby JodieLandau JulieLamm CullenB.Madden JosephBradyMadden FrankieTorres AustinWilson SaraWilson TamicaWashington-Miller LucyBriant NathanMeister GerryBlair MatthewChamberlain PaulYates WrayWilson JamesGaylyn MelvinLenoClarkIII CarvonFutrell BrandonJelkes MicahMoch HanniyahMuhammad ChristopherNolen ChristaOliver AprilMarieThomas BravitaA.Threatt ColinBleasdale MikeBodnar MattClayton NicoleDionne JamieHarrison AllanHenry AnthonyIngruber AshleyJeffery DeanKnowsley JosephMika-Hunt TerryNotary KaiPantano LoganPithyou StuartPollock Raja GarethRuck RhianSheehan T.J.Storm JodieTaylor AliciaVela-Bailey RichardWhiteside NikieZambo JuleneRenee JamesCameron'

In [63]:
new_df['tags'].apply(lambda x: x.lower())

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bondâ€™s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4804    el mariachi just wants to play his guitar and ...
4805    a newlywed couple's honeymoon is upended by th...
4806    "signed, sealed, delivered" introduces a dedic...
4807    when ambitious new york attorney sam is sent t...
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [64]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [65]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [66]:
import nltk

In [67]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [68]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [69]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [70]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. cultureclash samworthington zoesaldana sigourneyweav stephenlang michellerodriguez giovanniribisi joeldavidmoor cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyt scottlawr kellykilgour jamespatrickpitt seanpatrickmurphi peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurri lukehawk woodyschultz petermensah soniaye jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibbi jodielandau julielamm cullenb.madden josephbradymadden frankietorr austinwilson sarawilson tamicawashington-mil lucybri nathanmeist gerryblair matthewchamberlain paulyat wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrel brandonjelk micahmoch hanniyahmuhammad christophernolen christaoliv aprilmariethoma bravitaa.threatt colinbleasdal mikebodnar mattclayton nicoledionn jamieharrison allanhenri anthonyingrub ashleyjefferi deanknowsley josephmika-hunt terrynotari kaipantano loganpithy stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhitesid nikiezambo julenerene jamescameron'

In [71]:
new_df['tags'][2]

'a cryptic messag from bondâ€™ past send him on a trail to uncov a sinist organization. while m battl polit forc to keep the secret servic alive, bond peel back the layer of deceit to reveal the terribl truth behind spectre. spi danielcraig christophwaltz lÃ©aseydoux ralphfienn monicabellucci benwhishaw naomieharri davebautista andrewscott rorykinnear jesperchristensen alessandrocremona stephaniesigman tenochhuerta adrianapaz domenicofortunato marcozingaro stefanoelfidiclaudia ianbonar tamwilliam richardbanham pipcart simonlenagan alessandrobressanello marczinga brigittemillar adelbencherif gediminasadoma peppelanzetta francescoarca matteotaranto emilioaniba benitosagredo daitabuchi georgelasha sargonyelda andycheung erickhayden olegmirochnikov antoniosalin miloudmouradbenamara gidoschimanski nigelbarb patricenaiambana stephanecornicard garyfannin sadaoueda philliplaw waiwong josephbalderrama eijimihara junichikajioka victorschefÃ© haraldwindisch tristanmatthia detlefboth bodofrieseck wilhemiben noemikrausz noahsaavedra francisattakpah michaelglantschnig marlonboess mariewohlmuth lilieppli konstantingerlach laraparmiani umitulgen amramallassi ziadabaza walidmumuni derekhorsham nariblair-mangat michaelwhit adammcgradi naderdernaika pezhmaanalinia judidench nevegachev karlfarr kimadi maurisaselenecoleman matijamondimatoviÄ‡ sammend'

In [72]:
from sklearn.feature_extraction.text import CountVectorizer

In [73]:
cv = CountVectorizer( max_features = 5000, stop_words = 'english')

In [74]:
cv.fit_transform(new_df['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [75]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [76]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [77]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [78]:
cv.get_feature_names()

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '18th',
 '19',
 '1930',
 '1950',
 '1960',
 '1960s',
 '1970',
 '1970s',
 '1980',
 '19th',
 '20',
 '200',
 '20th',
 '24',
 '25',
 '30',
 '3d',
 '40',
 '50',
 '60',
 '70',
 'aaron',
 'aaroneckhart',
 'aarontaylor',
 'aaronyoo',
 'aasifmandvi',
 'abandon',
 'abduct',
 'abigailbreslin',
 'abil',
 'abl',
 'aboard',
 'abov',
 'abrahambenrubi',
 'abus',
 'academi',
 'accept',
 'access',
 'accid',
 'accident',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'act',
 'action',
 'activ',
 'activist',
 'actor',
 'actress',
 'actual',
 'adam',
 'adambrodi',
 'adamgodley',
 'adamgoldberg',
 'adamlefevr',
 'adamsandl',
 'adamscott',
 'adamshankman',
 'adapt',
 'add',
 'addict',
 'adewaleakinnuoye',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrianmartinez',
 'adrianscarborough',
 'adrienbrodi',
 'adult',
 'adulteri',
 'adulthood',
 'advanc',
 'adventur',
 'adventure',
 'advertis',
 'advic',
 'advis',
 'affair',
 'affect',
 'afghanistan',
 'africa',
 'african',
 'aftermath',
 'ag',
 'agbaj',
 'age',
 'agency',
 'agenda',
 'agent',
 'aggress',
 'ago',
 'agre',
 'ahead',
 'aid',
 'aidanquinn',
 'ail',
 'aim',
 'air',
 'airport',
 'aka',
 'al',
 'alanalda',
 'alanarkin',
 'alancum',
 'alanrickman',
 'alantudyk',
 'alaska',
 'albert',
 'albertbrook',
 'albertfinney',
 'alcohol',
 'alecbaldwin',
 'alecguin',
 'alessandronivola',
 'alex',
 'alexandersiddig',
 'alexanderskarsgÃ¥rd',
 'alexapenavega',
 'alexborstein',
 'alexisbledel',
 'alexkendrick',
 'alfredhitchcock',
 'alfredmolina',
 'alfrewoodard',
 'ali',
 'aliashawkat',
 'alic',
 'alice',
 'alicebraga',
 'alicedrummond',
 'aliciasilverston',
 'aliciawitt',
 'alien',
 'alilart',
 'alisonlohman',
 'alisonpil',
 'aliv',
 'alive',
 'allancordun',
 'allen',
 'allencovert',
 'alleong',
 'alli',
 'allianc',
 'allisonjanney',
 'allow',
 'alon',
 'alongsid',
 'alpacino',
 'alreadi',
 'alter',
 'altern',
 'alunarmstrong',
 'alway',
 'amanda',
 'amandapeet',
 'amandaseyfri',
 'amateur',
 'amaz',
 'ambassador',
 'amberheard',
 'ambervalletta',
 'ambit',
 'ambiti',
 'ambush',
 'america',
 'americaferrera',
 'american',
 'americanfootbal',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amus',
 'amyadam',
 'amypoehl',
 'amyryan',
 'amysedari',
 'amysmart',
 'anagastey',
 'analyst',
 'ancient',
 'anderson',
 'andi',
 'andiemacdowel',
 'andreamartin',
 'andrebraugh',
 'andrew',
 'andrewdali',
 'andrewstanton',
 'android',
 'andydick',
 'andygarcÃ­a',
 'andyricht',
 'andysamberg',
 'andyserki',
 'angel',
 'angelabassett',
 'angeles',
 'angelinajoli',
 'angelo',
 'anger',
 'angle',
 'angri',
 'angusmacinn',
 'ani',
 'anim',
 'animals',
 'anjelicahuston',
 'ann',
 'anna',
 'annafari',
 'annakendrick',
 'annalevin',
 'annapaquin',
 'annasophiarobb',
 'anndowd',
 'anne',
 'annebancroft',
 'annefletch',
 'annehathaway',
 'annehech',
 'annemoss',
 'annetteben',
 'anni',
 'annie',
 'annikaperga',
 'announc',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'anthoni',
 'anthonyanderson',
 'anthonyhopkin',
 'anthonylapaglia',
 'anthonymacki',
 'anti',
 'antonicoron',
 'antoniobandera',
 'antonyelchin',
 'anyon',
 'anyth',
 'apart',
 'apartment',
 'ape',
 'apocalypt',
 'appar',
 'appear',
 'appoint',
 'appreci',
 'approach',
 'april',
 'archaeologist',
 'architect',
 'arci',
 'area',
 'arielwint',
 'arigraynor',
 'aris',
 'aristocrat',
 'arm',
 'armi',
 'arminmueller',
 'armor',
 'armstrong',
 'army',
 'arnold',
 'arnoldschwarzenegg',
 'arrang',
 'arrest',
 'arriv',
 'art',
 'arthur',
 'arthurj',
 'arthurtovey',
 'artificialintellig',
 'artist',
 'ash',
 'ashley',
 'ashleygreen',
 'ashleyjudd',
 'ashtonkutch',
 'asia',
 'asid',
 'ask',
 'aspir',
 'assassin',
 'assault',
 'assign',
 'assist',
 'assistant',
 'associ',
 'assum',
 'astronaut',
 'asylum',
 'athlet',
 'atoessandoh',
 'attack',
 'attacks',
 'attempt',
 'attend',
 'attent',
 'attitud',
 'attorney',
 'attract',
 'audienc',
 'audit',
 'august',
 'aunjanueelli',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'avaacr',
 'aveng',
 'avoid',
 'await',
 'awaken',
 'award',
 'away',
 'awri',
 'awry',
 'azizansari',
 'babi',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'bad',
 'bag',
 'bail',
 'bailey',
 'balanc',
 'ball',
 'ballet',
 'band',
 'banish',
 'bank',
 'banker',
 'baptist',
 'bar',
 'barbarahershey',
 'barbrastreisand',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'barrylevinson',
 'barrypepp',
 'barryshabakahenley',
 'bas',
 'base',
 'basebal',
 'basedonnovel',
 'basement',
 'basketbal',
 'batman',
 'battl',
 'battle',
 'bay',
 'bdwong',
 'beach',
 'bear',
 'beast',
 'beat',
 'beaubridg',
 'beauti',
 'beautiful',
 'beauty',
 'becam',
 'becaus',
 'beccasweitz',
 'becom',
 'bed',
 'befor',
 'befriend',
 'began',
 'begin',
 'begins',
 'behavior',
 'belief',
 'believ',
 'bell',
 'bella',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'benchaplin',
 'bend',
 'beneath',
 'benedictcumberbatch',
 'benedictwong',
 'benefit',
 'benfalcon',
 'benfost',
 'bengazzara',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'benmendelsohn',
 'benmil',
 'bennett',
 'benschwartz',
 'benstil',
 'bent',
 'benwhishaw',
 'berlin',
 'bernadettelord',
 'bernardhil',
 'bernardle',
 'berniemac',
 'bessflow',
 'best',
 'bet',
 'beth',
 'bethgrant',
 'betray',
 'bettemidl',
 'better',
 'betti',
 'beverli',
 'beverlyd',
 'big',
 'bigger',
 'biggest',
 'biker',
 'billcamp',
 'billcobb',
 'billduk',
 'billhad',
 'billi',
 'billionair',
 'billmoseley',
 'billmurray',
 'billnighi',
 'billnunn',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billyburk',
 'billyconnolli',
 'billycrudup',
 'billycryst',
 'billydeewilliam',
 'billyslaught',
 'billywest',
 'billyzan',
 'biographi',
 'bird',
 'birth',
 'birthday',
 'bishop',
 'bit',
 'bitter',
 'bizarr',
 'black',
 'blackmail',
 'blackpeopl',
 'blade',
 'blakeclark',
 'blame',
 'blend',
 'blind',
 'bliss',
 'block',
 'blood',
 'bloodi',
 'bloodthirsti',
 'blow',
 'blue',
 'blythedann',
 'board',
 'boat',
 'bob',
 'bobbalaban',
 'bobbergen',
 'bobbi',
 'bobbycannaval',
 'bobbyfarrelli',
 'bobbymoynihan',
 'bobclendenin',
 'bobgunton',
 'bobhoskin',
 'bobodenkirk',
 'bobstephenson',
 'bodi',
 'body',
 'bodyguard',
 'bokeemwoodbin',
 'bold',
 'bomb',
 'bond',
 'bone',
 'bonniehunt',
 'book',
 'border',
 'bore',
 'boriskodjo',
 'born',
 'boss',
 'boston',
 'botch',
 'bound',
 'boundari',
 'bounti',
 'box',
 'boxer',
 'boy',
 'boydbank',
 'boydholbrook',
 'boyfriend',
 'boys',
 'braddourif',
 'bradgarrett',
 'bradleycoop',
 'bradleywhitford',
 'bradpitt',
 'bradrenfro',
 'bradwilliamhenk',
 'bradycorbet',
 'brain',
 'brand',
 'brandonmolal',
 'brave',
 'brazil',
 'break',
 'breckinmey',
 'brendanfras',
 'brendangleeson',
 'brendansextoniii',
 'brentbrisco',
 'brentspin',
 'brettcullen',
 'brettratn',
 'brettric',
 'brian',
 'brianbless',
 'briancox',
 'briandennehi',
 'briandepalma',
 'briandoyle',
 'brianhow',
 'brianj',
 'briano',
 'briansteel',
 'brianstepanek',
 'brianvanholt',
 'bride',
 'bridg',
 'bridgetfonda',
 'bridgetmoynahan',
 'bridgettewilson',
 'brief',
 'brielarson',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'brittanymurphi',
 'brittrobertson',
 'broadcast',
 'broadway',
 'broke',
 'broken',
 'bronsonwebb',
 'brook',
 'brooklyn',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucecampbel',
 'brucedavison',
 'brucedern',
 'brucegreenwood',
 'brucemcgil',
 'brucesp',
 'brucewilli',
 'brunokirbi',
 'brutal',
 'bryan',
 'bryancranston',
 'bryansing',
 'brycedallashoward',
 'bu',
 'buck',
 'buckley',
 'bud',
 'buddi',
 'buddy',
 'budget',
 'build',
 'building',
 'built',
 'bullet',
 'bulli',
 'bumbl',
 'buri',
 'burn',
 'burtreynold',
 'bush',
 'busi',
 'business',
 'businessman',
 'bust',
 'butler',
 'buy',
 'byrn',
 'cabin',
 'caesar',
 'cal',
 'california',
 'callahan',
 'callumkeithrenni',
 'calvin',
 'came',
 'camera',
 'cameraman',
 'cameron',
 'cameronbright',
 'camerondiaz',
 'camgigandet',
 'camp',
 'campaign',
 'campbel',
 'campbellscott',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candid',
 'capabl',
 'capit',
 'captain',
 'captiv',
 'captur',
 'car',
 'caraseymour',
 'card',
 'care',
 'career',
 'careymulligan',
 'carl',
 'carlagallo',
 'carlagugino',
 'carlo',
 'carlosalazraqui',
 'carmen',
 'carmenargenziano',
 'carmenelectra',
 'carol',
 'carolina',
 'carolineaaron',
 'carolinegoodal',
 'carolkan',
 'carpent',
 'carrac',
 'carri',
 'carrie',
 'carriefish',
 'cartel',
 'carter',
 'cary',
 'caryelw',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'cat',
 'catch',
 'cateblanchett',
 'catherinekeen',
 'catherineo',
 'catherinezeta',
 'cathey',
 'cathol',
 'caught',
 'caus',
 'cave',
 'cedrictheentertain',
 'celebr',
 'celiaimri',
 'celiaweston',
 'center',
 'central',
 'centuri',
 'centuries',
 'century',
 'certain',
 'chad',
 'chadmichaelmurray',
 'chain',
 'challeng',
 'champion',
 'championship',
 'chanc',
 'chance',
 'chancekelli',
 'chang',
 'change',
 'changes',
 'channingtatum',
 'chao',
 'chaos',
 'chaotic',
 'chapter',
 'charact',
 'character',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charlesd',
 'charlesdurn',
 'charlesmartinsmith',
 'charlesnapi',
 'charless',
 'charli',
 'charlie',
 'charliesheen',
 'charlizetheron',
 'charlotterampl',
 'charltonheston',
 'charm',
 'chase',
 'chazzpalminteri',
 'cheat',
 'check',
 'cheechmarin',
 'cheerlead',
 'chef',
 'chelcieross',
 'chemic',
 'cher',
 'cherryjon',
 'cherylhin',
 'chevychas',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhood',
 'children',
 'chill',
 'chimcbrid',
 'china',
 'chines',
 'chip',
 'chiwetelejiofor',
 'chloÃ«gracemoretz',
 'chloÃ«sevigni',
 'choic',
 'choos',
 'chosen',
 'chowyun',
 'chri',
 'chrisbauer',
 'chrisbrown',
 'chriscolumbu',
 'chriscoop',
 'chriselli',
 'chrisevan',
 'chrishemsworth',
 'chriskattan',
 'chrisklein',
 'chrismessina',
 'chrismil',
 'chrismulkey',
 'chriso',
 'chrisowen',
 'chrisparnel',
 'chrispenn',
 'chrispin',
 'chrispratt',
 'chrisrock',
 'christ',
 'christian',
 'christianbal',
 'christianmckay',
 'christianslat',
 'christinaappleg',
 'christinaricci',
 'christinebaranski',
 'christma',
 'christmas',
 'christoph',
 'christopherfairbank',
 'christopherguest',
 'christopherknight',
 'christopherlambert',
 'christopherle',
 'christopherlloyd',
 'christophermcdonald',
 'christophermeloni',
 'christophermintz',
 'christopherplumm',
 'christopherwalken',
 'christophwaltz',
 'chronicl',
 'chuck',
 'church',
 'cia',
 'ciarÃ¡nhind',
 'cicelytyson',
 'cillianmurphi',
 'cinema',
 'circl',
 'circu',
 'circuit',
 'circumst',
 'citi',
 'citizen',
 'city',
 'civil',
 'civilian',
 'civilwar',
 'claim',
 'clair',
 'clairedan',
 'claireforlani',
 'clan',
 'clancybrown',
 'clark',
 'clarkduk',
 'clarkgregg',
 'clash',
 'class',
 'classic',
 'classmat',
 'claudevandamm',
 'clay',
 'cleaduval',
 'clean',
 'clear',
 'clerk',
 'client',
 'cliffcurti',
 'cliftoncollinsjr',
 'climb',
 'clinteastwood',
 'clinthoward',
 'cliveowen',
 'clock',
 'clone',
 'clorisleachman',
 'close',
 'closer',
 'club',
 'clue',
 'clutch',
 'clydekusatsu',
 'coach',
 'coast',
 'cocain',
 'code',
 'codycameron',
 'cohen',
 'col',
 'cold',
 'cole',
 'colehaus',
 'colin',
 'colinfarrel',
 'colinfirth',
 'colinhank',
 'colinquinn',
 'colinsalmon',
 'collaps',
 'colleagu',
 'collect',
 'collector',
 'colleencamp',
 'colleg',
 'college',
 'collid',
 'collin',
 'collis',
 'colmfeor',
 'colmmeaney',
 'colonel',
 'coloni',
 'color',
 'coma',
 'combat',
 'combin',
 'come',
 'comed',
 'comedi',
 'comedian',
 'comedy',
 'comfort',
 'comic',
 'coming',
 'command',
 'commit',
 'common',
 'commun',
 'community',
 'compani',
 'companion',
 'company',
 'compet',
 'competit',
 'competition',
 'complet',
 'complex',
 'complic',
 'compos',
 'compton',
 'comput',
 'conan',
 'concern',
 'concert',
 'conchataferrel',
 'condit',
 'confid',
 'conflict',
 'confront',
 'confus',
 'connect',
 'connel',
 'connienielsen',
 'connieray',
 'connor',
 'conquer',
 'conradvernon',
 'consequ',
 'consequences',
 'consid',
 'conspir',
 'conspiraci',
 'conspiracy',
 'constant',
 'constantli',
 'construct',
 'consum',
 'contact',
 'contain',
 'contemporari',
 'contend',
 'contest',
 'continu',
 'contract',
 'control',
 'controversi',
 'convent',
 'convict',
 'convinc',
 'cook',
 'cool',
 'cooper',
 'cop',
 'cope',
 'cops',
 'corbinbleu',
 'core',
 'coreyburton',
 'coreyfeldman',
 'coreyjohnson',
 'coreystol',
 'corner',
 'corpor',
 'corrupt',
 'cost',
 'costasmandylor',
 'costum',
 'couldn',
 'count',
 ...]

In [79]:
ps.stem('loving')

'love'

In [80]:
stem('action in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez giovanniribisi joeldavidmoore cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyte scottlawrence kellykilgour jamespatrickpitt seanpatrickmurphy peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurry lukehawker woodyschultz petermensah soniayee jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibby jodielandau julielamm cullenb.madden josephbradymadden frankietorres austinwilson sarawilson tamicawashington-miller lucybriant nathanmeister gerryblair matthewchamberlain paulyates wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrell brandonjelkes micahmoch hanniyahmuhammad christophernolen christaoliver aprilmariethomas bravitaa.threatt colinbleasdale mikebodnar mattclayton nicoledionne jamieharrison allanhenry anthonyingruber ashleyjeffery deanknowsley josephmika-hunt terrynotary kaipantano loganpithyou stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhiteside nikiezambo julenerenee jamescameron')

'action in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. cultureclash samworthington zoesaldana sigourneyweav stephenlang michellerodriguez giovanniribisi joeldavidmoor cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyt scottlawr kellykilgour jamespatrickpitt seanpatrickmurphi peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurri lukehawk woodyschultz petermensah soniaye jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibbi jodielandau julielamm cullenb.madden josephbradymadden frankietorr austinwilson sarawilson tamicawashington-mil lucybri nathanmeist gerryblair matthewchamberlain paulyat wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrel brandonjelk micahmoch hanniyahmuhammad christophernolen christaoliv aprilmariethoma bravitaa.threatt colinbleasdal mikebodnar mattclayton nicoledionn jamieharrison allanhenri anthonyingrub ashleyjefferi deanknowsley josephmika-hunt terrynotari kaipantano loganpithy stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhitesid nikiezambo julenerene jamescameron'

In [81]:
from sklearn.metrics.pairwise import cosine_similarity

In [82]:
cosine_similarity(vectors).shape

(4806, 4806)

In [83]:
similarity = cosine_similarity(vectors)

In [84]:
sorted(similarity[0])[-10:-1]

[0.11442591353812462,
 0.11826247919781653,
 0.12403473458920847,
 0.1289651760438322,
 0.1289651760438322,
 0.1359820733051053,
 0.14269544824634822,
 0.17349447958987207,
 0.1981484809753043]

In [85]:
sorted(similarity[0],reverse=True)

[0.9999999999999998,
 0.1981484809753043,
 0.17349447958987207,
 0.14269544824634822,
 0.1359820733051053,
 0.1289651760438322,
 0.1289651760438322,
 0.12403473458920847,
 0.11826247919781653,
 0.11442591353812462,
 0.11322770341445959,
 0.11118739749916517,
 0.11118739749916517,
 0.10925355610938446,
 0.10878565864408425,
 0.10567049305145204,
 0.10482848367219184,
 0.10482848367219184,
 0.10241831129983785,
 0.10241831129983785,
 0.10127393670836665,
 0.10127393670836665,
 0.09805806756909202,
 0.09805806756909201,
 0.09672388203287416,
 0.09672388203287416,
 0.09513029883089882,
 0.09443843292997713,
 0.09443843292997713,
 0.09302605094190634,
 0.09245003270420488,
 0.09245003270420488,
 0.09245003270420488,
 0.09119215051751065,
 0.09078412990032037,
 0.0899842541331695,
 0.0899842541331695,
 0.0886968593983624,
 0.08770580193070293,
 0.08770580193070293,
 0.08770580193070293,
 0.08770580193070293,
 0.08770580193070293,
 0.08674723979493604,
 0.08581943515359347,
 0.08559209850218259,
 0.08559209850218259,
 0.08559209850218259,
 0.08559209850218259,
 0.08404977220207888,
 0.08362420100070908,
 0.08362420100070908,
 0.08320502943378438,
 0.08178608201095308,
 0.08178608201095308,
 0.08178608201095308,
 0.08178608201095308,
 0.08178608201095308,
 0.08178608201095308,
 0.08178608201095308,
 0.08178608201095308,
 0.08158924398306319,
 0.0808158687660548,
 0.08006407690254358,
 0.08006407690254358,
 0.08006407690254358,
 0.08006407690254358,
 0.08006407690254358,
 0.08006407690254358,
 0.08006407690254358,
 0.08006407690254358,
 0.08006407690254358,
 0.07844645405527362,
 0.07844645405527362,
 0.07844645405527362,
 0.07844645405527362,
 0.07692307692307693,
 0.07692307692307693,
 0.07692307692307693,
 0.07692307692307693,
 0.07692307692307693,
 0.07692307692307693,
 0.07583704957147717,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07548513560963972,
 0.07533029414277381,
 0.07533029414277381,
 0.07472032220800769,
 0.07412493166611012,
 0.07412493166611012,
 0.07412493166611012,
 0.07412493166611012,
 0.07412493166611012,
 0.07412493166611012,
 0.07412493166611012,
 0.07354355067681902,
 0.07354355067681902,
 0.07283570407292297,
 0.07283570407292297,
 0.07283570407292297,
 0.07283570407292297,
 0.07283570407292297,
 0.07268547557869755,
 0.07242068243779014,
 0.07242068243779014,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07161148740394328,
 0.07134772412317411,
 0.0704469953676347,
 0.0704469953676347,
 0.0704469953676347,
 0.0704469953676347,
 0.0704469953676347,
 0.06982410961735916,
 0.06982410961735916,
 0.06982410961735916,
 0.06933752452815366,
 0.06933752452815364,
 0.06933752452815364,
 0.06933752452815364,
 0.06933752452815364,
 0.06933752452815364,
 0.06933752452815364,
 0.06933752452815364,
 0.0688609723207333,
 0.0682788741998919,
 0.0682788741998919,
 0.06793662204867573,
 0.06726727939963124,
 0.06629935441317959,
 0.06629935441317959,
 0.06629935441317959,
 0.06629935441317959,
 0.06629935441317959,
 0.06629935441317959,
 0.06629935441317959,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.06537204504606134,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.06362847629757779,
 0.06362847629757779,
 0.06362847629757779,
 0.06362847629757779,
 0.06362847629757779,
 0.06362847629757779,
 0.06362847629757779,
 0.06280742930213278,
 0.06280742930213278,
 0.06280742930213278,
 0.06280742930213278,
 0.062017367294604234,
 0.062017367294604234,
 0.062017367294604234,
 0.062017367294604234,
 0.062017367294604234,
 0.062017367294604234,
 0.062017367294604234,
 0.062017367294604234,
 0.062017367294604234,
 0.062017367294604234,
 0.062017367294604234,
 0.062017367294604234,
 0.06125638918316889,
 0.06125638918316889,
 0.06125638918316889,
 0.06125638918316889,
 0.06125638918316889,
 0.06125638918316889,
 0.060522753266880246,
 0.060522753266880246,
 0.060522753266880246,
 0.060522753266880246,
 0.060522753266880246,
 0.060522753266880246,
 0.060522753266880246,
 0.060522753266880246,
 0.05981486045545792,
 0.05981486045545792,
 0.05981486045545792,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.059131239598908265,
 0.05847053462046862,
 0.05847053462046862,
 0.05783149319662403,
 0.05783149319662403,
 0.05783149319662403,
 0.05721295676906231,
 0.05721295676906231,
 0.05721295676906231,
 0.05721295676906231,
 0.05721295676906231,
 0.05721295676906231,
 0.05721295676906231,
 0.05721295676906231,
 0.05721295676906231,
 0.05721295676906231,
 0.05721295676906231,
 0.05687778717860788,
 0.056613851707229795,
 0.056613851707229795,
 0.056613851707229795,
 0.056613851707229795,
 0.056613851707229795,
 0.056613851707229795,
 0.056613851707229795,
 0.056613851707229795,
 0.056613851707229795,
 0.056613851707229795,
 0.056033181468052584,
 0.056033181468052584,
 0.05547001962252292,
 0.054923503638108974,
 0.054392829322042126,
 0.054392829322042126,
 0.054392829322042126,
 0.054392829322042126,
 0.054392829322042126,
 0.054392829322042126,
 0.054392829322042126,
 0.054392829322042126,
 0.054392829322042126,
 0.054392829322042126,
 0.054392829322042126,
 0.05439282932204212,
 0.05439282932204212,
 0.05387724584403654,
 0.05387724584403654,
 0.05387724584403654,
 0.05337605126836238,
 0.05337605126836238,
 0.05337605126836238,
 0.05337605126836238,
 0.05337605126836238,
 0.052888588534794514,
 0.052888588534794514,
 0.052888588534794514,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05241424183609592,
 0.05195243334661312,
 0.05195243334661312,
 0.051502620262460476,
 0.051502620262460476,
 0.051502620262460476,
 0.051502620262460476,
 0.051502620262460476,
 0.051502620262460476,
 0.051502620262460476,
 0.05106429211881654,
 0.050636968354183326,
 0.050636968354183326,
 0.050636968354183326,
 0.050636968354183326,
 0.050636968354183326,
 0.050636968354183326,
 0.050636968354183326,
 0.050636968354183326,
 0.050636968354183326,
 0.050636968354183326,
 0.050636968354183326,
 0.050636968354183326,
 0.050636968354183326,
 0.050636968354183326,
 0.050636968354183326,
 0.050220196095182544,
 0.050220196095182544,
 0.050220196095182544,
 0.050220196095182544,
 0.049813548138671795,
 0.049813548138671795,
 0.049813548138671795,
 0.04902903378454601,
 0.04902903378454601,
 0.04902903378454601,
 0.04902903378454601,
 0.04902903378454601,
 0.04902903378454601,
 0.04902903378454601,
 0.04902903378454601,
 0.04902903378454601,
 0.04902903378454601,
 0.04902903378454601,
 0.04902903378454601,
 0.04902903378454601,
 0.04902903378454601,
 0.048650425541052,
 0.048650425541052,
 0.048650425541052,
 0.048650425541052,
 0.048650425541052,
 0.04828045495852676,
 0.047918798518276025,
 0.04756514941544941,
 0.04756514941544941,
 0.04756514941544941,
 0.04756514941544941,
 0.04756514941544941,
 0.04756514941544941,
 0.04756514941544941,
 0.04756514941544941,
 0.04756514941544941,
 0.046880723093849545,
 0.046880723093849545,
 0.046880723093849545,
 0.046880723093849545,
 0.04654940641157278,
 0.04654940641157278,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04622501635210244,
 0.04590731488048887,
 0.04559607525875532,
 0.045291081365783824,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.04499212706658475,
 0.044699015626767424,
 0.04412957816406879,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.043852900965351466,
 0.0435813633640409,
 0.043314808182421,
 0.04305308489096176,
 0.04305308489096176,
 0.042796049251091296,
 0.042796049251091296,
 0.042796049251091296,
 0.042796049251091296,
 0.042796049251091296,
 0.042796049251091296,
 0.042796049251091296,
 0.042796049251091296,
 0.042796049251091296,
 0.042796049251091296,
 0.042796049251091296,
 0.042796049251091296,
 0.042796049251091296,
 0.04254356298115171,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04181210050035454,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04089304100547654,
 0.04045566970313674,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.04003203845127179,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.03922322702763681,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.038461538461538464,
 0.03827795011754764,
 0.03827795011754764,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.03774256780481986,
 0.037569037838267226,
 0.03706246583305506,
 0.03706246583305506,
 0.03706246583305506,
 0.03706246583305506,
 0.03706246583305506,
 0.03706246583305506,
 0.03706246583305506,
 0.03706246583305506,
 0.03706246583305506,
 0.03706246583305506,
 0.03706246583305506,
 0.03706246583305506,
 0.03706246583305506,
 0.03706246583305506,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03641785203646149,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.03580574370197164,
 0.035657479116033466,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03522349768381735,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03466876226407682,
 0.03426949256938314,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03413943709994595,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.03363363969981562,
 0.033389028164708894,
 0.03326870695116577,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.033149677206589796,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03268602252303067,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03224129401095805,
 0.03213291960680524,
 0.03181423814878889,
 0.03181423814878889,

In [86]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(3608, 0.1981484809753043),
 (529, 0.17349447958987207),
 (3083, 0.14269544824634822),
 (1216, 0.1359820733051053),
 (2333, 0.1289651760438322)]

In [87]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [91]:
recommend('Avatar')

Apollo 18
Tears of the Sun
Bucky Larson: Born to Be a Star
Aliens vs Predator: Requiem
Predator

In [92]:
import pickle

In [93]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [94]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [98]:
pickle.dump(new_df.to_dict() ,open('movies_dict.pkl','wb'))

In [99]:
pickle.dump(similarity,open('similarity.pkl','wb'))